@import "tailwindcss";
@import "tw-animate-css";

/* width */
.scrolling::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrolling::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
.scrolling::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.scrolling::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.scrolling-off::-webkit-scrollbar {
  display: none;
}